#root{
  background:rgb(48,48,48);
  min-height:100vh;
}
.ques-card{
  margin: 10px auto;
}
.updt-btn a{
  color: antiquewhite !important;
  font-style: normal;
  text-decoration:none;
}
.showAns{
  display: block !important;
}
.hideAns{
  display: none !important;
}
.quescard{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.anscard{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#form1{
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
#form2{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}